@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/saira/v14/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA7wTCosg.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/saira/v14/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA71rCosg.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/saira/v14/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA773Fosg.ttf) format('truetype');
}
body {
  background-image: linear-gradient(lightblue, pink);
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
body h1 {
  font: 900 32px 'Saira', sans-serif;
}
body p {
  margin: 0;
  font: 400 16px 'Saira', sans-serif;
  text-align: center;
}
.button__play {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid black;
  transition: all linear 0.15s;
}
.button__play svg {
  width: 46px;
  height: 46px;
  transition: all linear 0.15s;
  fill: black;
}
.button__play .overlay {
  opacity: 0;
  z-index: -2;
  position: absolute;
  left: 30px;
  top: 30px;
  width: 40px;
  height: 40px;
  background-image: linear-gradient(blue, fuchsia);
  border-radius: 50%;
  transition: all linear 0.15s;
}
.button__play:hover {
  cursor: pointer;
}
.button__play:hover svg {
  fill: white;
}
.button__play:hover .overlay {
  opacity: 1;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
}
