@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/saira/v14/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA7wTCosg.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/saira/v14/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA71rCosg.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/saira/v14/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA773Fosg.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/saira/v14/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA7_PFosg.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to bottom right, white 50%, rgba(0, 0, 0, 0.358) 50%);
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  max-width: 983px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Saira', sans-serif;
}
body h1 {
  font: 900 32px 'Saira', sans-serif;
}
body p {
  margin: 0;
}
body footer {
  padding: 30px;
}
body footer p {
  font: 400 16px 'Saira', sans-serif;
  text-align: center;
}
body footer .buy_me_a_coffee {
  margin-top: 20px;
}
body footer .buy_me_a_coffee a {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: all linear 0.15s;
}
body footer .buy_me_a_coffee a .profile {
  width: 46px;
  transition: all linear 0.15s;
}
body footer .buy_me_a_coffee a .coffee {
  width: 160px;
  display: flex;
  transition: all linear 0.15s;
}
body footer .buy_me_a_coffee a .coffee .triangle {
  margin-right: -2px;
}
body footer .buy_me_a_coffee a .coffee .button {
  width: 100%;
}
body footer .buy_me_a_coffee a:hover .coffee {
  transform: scale(1.1);
}
body footer .buy_me_a_coffee a:hover .profile {
  transform: rotate(-10deg);
}
.cart__header {
  position: relative;
  margin-top: -20px;
  margin-bottom: -20px;
  width: calc(100% - 32px);
  max-width: 983px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 24px;
  background-color: #11357a;
  border-radius: 10px;
  display: grid;
  place-items: center;
}
@media screen and (min-width: 768px) {
  .cart__header {
    width: 100%;
  }
}
.button__cart {
  position: relative;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  transition: all linear 0.15s;
}
.button__cart .cart__numbers {
  position: absolute;
  top: 5px;
  right: -9px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #ffd102;
  font: 700 9px 'Saira', sans-serif;
  color: #071734;
  transition: all linear 0.15s;
}
.button__cart:hover {
  background-color: #ffd102;
}
.button__cart:hover .cart__numbers {
  background-color: white;
}
.cart__grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 1072px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1200px) {
  .cart__grid {
    padding: 15px;
  }
}
@media screen and (min-width: 576px) {
  .cart__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
@media screen and (min-width: 992px) {
  .cart__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1200px) {
  .cart__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.cart__product {
  background-color: white;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-areas: "cover__wrapper title__mobile" "cover__wrapper product__controls";
  grid-template-columns: 100px 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 10px;
}
.cart__product .cover__wrapper {
  display: block;
  grid-area: cover__wrapper;
}
.cart__product .cover__wrapper .tag {
  display: none;
}
.cart__product .cover__wrapper .cover {
  width: 100px;
  height: 100px;
  object-fit: contain;
  object-position: center;
  border-radius: 10px;
}
.cart__product .cover__wrapper .title__desktop {
  display: none;
}
.cart__product .title__mobile {
  grid-area: title__mobile;
  font: 700 15px 'Saira', sans-serif;
  color: #071734;
}
.cart__product .product__controls {
  grid-area: product__controls;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart__product .product__controls input {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  border: 0;
  width: 80px;
  border-radius: 10px;
  background-color: #F6F6F6;
  padding: 11px 27px;
  font: 900 20px 'Saira', sans-serif;
  color: black;
}
.cart__product .product__controls input::-webkit-inner-spin-button,
.cart__product .product__controls input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cart__product .product__controls input:focus-within {
  outline-color: rgba(0, 0, 0, 0.3);
}
.cart__product .product__controls .button__add,
.cart__product .product__controls .button__remove {
  cursor: pointer;
  width: 26px;
  height: 26px;
}
.cart__product .product__controls .button__delete {
  cursor: pointer;
  width: 19px;
}
.cart__product .product__controls .button__delete:hover {
  filter: brightness(0) saturate(100%) invert(26%) sepia(86%) saturate(6038%) hue-rotate(357deg) brightness(89%) contrast(131%);
}
@media screen and (min-width: 576px) {
  .cart__product {
    position: relative;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 63px;
    grid-template-areas: "cover__wrapper" "product__controls";
  }
  .cart__product .cover__wrapper {
    margin-bottom: 20px;
    padding-top: 75px;
    padding-left: 26px;
    padding-right: 26px;
    background-color: white;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    text-decoration: none;
  }
  .cart__product .cover__wrapper .tag {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background-color: #11357A;
    font: 700 26px 'Saira', sans-serif;
    border-radius: 10px 0 10px 0;
    padding: 10px 25px;
  }
  .cart__product .cover__wrapper .cover {
    width: 100%;
    height: 218px;
  }
  .cart__product .cover__wrapper .title__desktop {
    display: grid;
    place-items: center;
    height: 107px;
    text-align: center;
    padding: 0 16px;
    font: 700 18px/22px 'Saira', sans-serif;
    color: #071734;
  }
  .cart__product .title__mobile {
    display: none;
  }
  .cart__product .product__controls {
    align-items: center;
  }
  .cart__product .product__controls input {
    width: fit-content;
    min-width: 130px;
    max-width: 130px;
    padding: 15px 46px;
  }
  .cart__product .product__controls .button__add,
  .cart__product .product__controls .button__remove {
    width: 36px;
    height: 36px;
  }
  .cart__product .product__controls .button__delete {
    position: absolute;
    top: 30px;
    right: 36px;
  }
}
.dialog__delete {
  border: 0;
  border-radius: 10px;
  overflow: visible;
}
.dialog__delete p {
  text-align: center;
  color: #11357A;
  font: 700 22px 'Saira', sans-serif;
}
.dialog__delete .controls {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.dialog__delete .controls button {
  padding: 9px;
  width: 100%;
  appearance: none;
  border: 1px solid #11357A;
  border-radius: 10px;
  color: #11357A;
  text-transform: uppercase;
  background-color: white;
  transition: all linear 0.15s;
  font: 900 18px 'Saira', sans-serif;
}
.dialog__delete .controls button:hover {
  cursor: pointer;
  color: white;
  background-color: #11357A;
}
.dialog__delete .dialog__close {
  display: block;
  cursor: pointer;
  position: absolute;
  top: -40px;
  right: 0;
}
.dialog__delete::backdrop {
  background-color: rgba(7, 23, 52, 0.8);
}
