@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/saira/v14/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA7wTCosg.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/saira/v14/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA71rCosg.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/saira/v14/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA773Fosg.ttf) format('truetype');
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 100vh;
  font-family: 'Saira', sans-serif;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
body h1 {
  text-align: center;
}
body p {
  text-align: justify;
}
body .button__reload {
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 22px;
  text-transform: uppercase;
  font: 300 16px sans-serif;
  letter-spacing: 1.4px;
  border: 1px solid black;
  border-radius: 6px;
}
body .button__reload:hover {
  cursor: pointer;
  background-color: #bce7f5;
}
