@font-face {
  font-family: 'Bangers';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bangers/v21/FeVQS0BTqb0h60ACL5k.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlowcondensed/v12/HTx3L3I-JCGChYJ8VI-L6OO_au7B2xY.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlowcondensed/v12/HTxwL3I-JCGChYJ8VI-L6OO_au7B4-Lw_3E.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlowcondensed/v12/HTxwL3I-JCGChYJ8VI-L6OO_au7B46r2_3E.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
p {
  margin: 0;
}
body {
  background-color: #1f1f1f;
  margin: 0;
}
.colored-line {
  background-image: linear-gradient(to right, #FFF300, #F81F72, #0060AC);
  background-repeat: no-repeat;
  width: 100%;
  height: 10px;
}
.page__header {
  padding: 60px 30px;
  text-align: center;
}
.page__header h1 {
  font: 400 36px 'Bangers', sans-serif;
  margin-bottom: 20px;
  color: #FFF300;
}
@media screen and (min-width: 768px) {
  .page__header h1 {
    font-size: 46px;
  }
}
.page__header p {
  color: #f5f5f5;
  font: 500 22px 'Barlow Condensed', sans-serif;
  letter-spacing: 0.5px;
}
.page__tech {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}
.page__tech p {
  color: #2189CE;
  font: 400 24px 'Bangers', sans-serif;
}
.page__tech img {
  height: 36px;
}
.page__projects {
  padding-top: 30px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .page__projects {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.page__projects .projects__grid {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px;
  display: grid;
  place-content: center;
  grid-template-columns: 1fr;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .page__projects .projects__grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
.page__projects .projects__grid .project__card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 200px;
  text-align: center;
  background-color: #000;
  text-decoration: none;
  transition: all linear 0.15s;
}
.page__projects .projects__grid .project__card .title {
  font: 400 20px 'Barlow Condensed', sans-serif;
  letter-spacing: 1px;
  color: #FFF300;
}
.page__projects .projects__grid .project__card .description {
  color: #f5f5f5;
  font: 400 16px 'Barlow Condensed', sans-serif;
  padding: 0 16px;
}
.page__projects .projects__grid .project__card:hover {
  box-shadow: 4px 4px 0 #2189CE, 8px 8px 0 #F81F72;
  color: #EF69A4;
}
.page__footer {
  padding-top: 60px;
}
.page__footer p {
  text-align: center;
  font: 400 16px 'Barlow Condensed', sans-serif;
  letter-spacing: 1px;
  color: #f5f5f5;
  padding-bottom: 36px;
}
.page__footer p a {
  color: #FFF300;
  text-decoration: none;
  transition: all linear 0.15s;
}
.page__footer p a:hover {
  color: #F81F72;
}
